.agora-player-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.video-container {
  width: auto;
  height: 95vh;
  aspect-ratio: 9 / 16;
  background: #000;
}

.back-button {
  height: 5vh;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}